<div class="labeled-input">
  <input
    class="labeled-input__input {{class}}"
    required
    placeholder="{{placeholder}}"
    autocomplete="off"
    type="{{type}}"
    name="{{name}}"
    id="{{name}}"
  />
  <label class="labeled-input__label" for="{{name}}">{{label}}</label>
</div>