<main class="page">
  <form class="sign-in-form">
    <h1 class="sign-in-form__header">
      Вход
    </h1>
    {{{loginInput}}}
    {{{passwordInput}}}
    <img src={{logoSrc}} alt="логотип" class="logo" />
    {{{button}}}
    {{{link}}}
  </form>
</main>