<main class="page">
  <form class="sign-up-form">
    <h1 class="sign-up-form__header">
      Регистрация
      <img src={{logo}} alt="логотип" class="logo" />
    </h1>
    {{{email}}}
    {{{login}}}
    {{{firstName}}}
    {{{secondName}}}
    {{{phone}}}
    {{{password}}}
    {{{checkPassword}}}
    {{{button}}}
    {{{link}}}
  </form>
</main>
